.video-background {
      position: fixed;
      top: 0;
      left: 0;
      min-width: 100%;
      min-height: 100%;
      z-index: -1;
      object-fit: cover;
}

.card{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1% 35% 0;
}

.cardAgregar{
    justify-items: right;
}

.agregar,.resumen{
    margin: 1% 0 0;
    width: 40%;
}

.d-flex{
    justify-content: center;
}

.card-body{
    text-align: center;
}

.sistemasGuardados{
    width: 30%;
    justify-self: center;
}

.sistemasCreados{
    justify-items: center;
}

.texto{
    color: #fff;
}